<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tubes_ppb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".AgentView.Fade"
            android:exported="false" />
        <activity
            android:name=".ui.skins.allskins.SkinActivity"
            android:exported="false" />
        <activity
            android:name=".AgentView.Jett"
            android:exported="false" />
        <activity
            android:name=".AgentView.Gekko"
            android:exported="false" />
        <activity
            android:name=".AgentView.Cypher"
            android:exported="false" />
        <activity
            android:name=".AgentView.Reyna"
            android:exported="false" />
        <activity
            android:name=".AgentView.Sage"
            android:exported="false" />
        <activity
            android:name=".AgentView.Skye"
            android:exported="false" />
        <activity
            android:name=".AgentView.Viper"
            android:exported="false" />
        <activity
            android:name=".AgentView.Yoru"
            android:exported="false" />
        <activity
            android:name=".AgentView.Sova"
            android:exported="false" />
        <activity
            android:name=".AgentView.Killjoy"
            android:exported="false" />
        <activity
            android:name=".AgentView.Kayo"
            android:exported="false" />
        <activity
            android:name=".AgentView.Raze"
            android:exported="false" />
        <activity
            android:name=".AgentView.Phoenix"
            android:exported="false" />
        <activity
            android:name=".AgentView.Omen"
            android:exported="false" />
        <activity
            android:name=".AgentView.Neon"
            android:exported="false" />
        <activity
            android:name=".Agent"
            android:exported="false" />
        <activity
            android:name=".AgentView.Chamber"
            android:exported="false" />
        <activity
            android:name=".AgentView.Brimstone"
            android:exported="false" />
        <activity
            android:name=".AgentView.Breach"
            android:exported="false" />
        <activity
            android:name=".AgentView.Astra"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>